<div class="voting-page">
    <div class="container-fluid" style="padding-left: 20px; padding-right: 20px;">
        <div class="row">
            <div class="col-sm-11">
                <h2>{{'COUPONS_VIEW_NAME' | translate}}: </h2>
            </div>
        </div>

        <div id="row1" class="row row1">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li ng-class="$ctrl.activeTab == 1 ? 'active': ''" ng-click="$ctrl.showMine()">
                                <a>{{ 'COUPONS_VIEW_OWNED' | translate }}</a>
                            </li>
                            <li ng-class="$ctrl.activeTab == 2 ? 'active': ''" ng-click="$ctrl.showCreated()">
                                <a>{{ 'COUPONS_VIEW_CREATED' | translate }}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div>
                            <table class="table table-condensed top">
                                <tr>
                                    <th>{{'COUPONS_VIEW_COUPON_NAME' | translate}}</th>
                                    <th>{{'COUPONS_VIEW_COUPON_TYPE' | translate}}</th>
                                    <th>{{'COUPONS_VIEW_COUPON_AMOUNT' | translate}}</th>
                                    <th ng-show="$ctrl.activeTab == 2">
                                        {{'COUPONS_VIEW_COUPON_EDIT' | translate}}
                                    </th>
                                </tr>
                            </table>

                            <div class="pre-scrollable" ng-show="!$ctrl.loadingCoupons">
                                <div ng-repeat="coupon in $ctrl.coupons track by $index">
                                    <table class="table table-bordered table-hover ng-scope">
                                        <tr>
                                            <td class="coupon-name">
                                               {{ coupon.name }}
                                            </td>
                                            <td class="coupon-type">
                                                {{ coupon.type }}
                                            </td>
                                            <td class="coupon-amount">
                                                {{ coupon.amount }}
                                            </td>
                                            <td class="coupon-edit" ng-show="$ctrl.activeTab == 2">

                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <br>
                            <button type="submit" class="btn btn-success pull-xs-left" style="width:10%" ng-click="$ctrl.refreshCoupons();" ng-disabled="$ctrl.loadingCoupons">
                                <i ng-class="$ctrl.loadingCoupons ? 'fa fa-refresh fa-spin' : 'fa fa-refresh'" aria-hidden="true"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                </div>
            </div>
        </div>
    </div>
</div>