<div class="namespace-provision-page">
    <div class="container-fluid main">
        <div class="row">
            <div class="col-sm-11">
                <h2>{{ 'COUPONS_CREATE_TITLE' | translate }}</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9 col-lg-7">
                <div class="panel-heading">
                    <div class="tabDescription">
                        <span>
                            {{ 'COUPONS_CREATE_NAME' | translate }}
                        </span>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a>
                                {{'COUPONS_TAB_CREATE' | translate }}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="panel-body">

                </div>
            </div>

            <div class="col-md-3 col-lg-5">
                <div class="panel-heading">
                    <h3>{{ 'COUPONS_CREATE_RESTRICTIONS' | translate }}</h3>
                </div>
                <div class="panel-body row">
                    <div class="col-md-12 col-lg-12">
                        <p>{{ 'COUPONS_CREATE_INFORMATION_1' | translate }}</p>
                        <pre>a, b, c, ..., z, 0, 1, 2, ..., 9, _ , - mag niet blaat</pre>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
